* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  margin-left: 15vw;
}

.gameContainer {
  display: flex;
  margin-top: 10vh;
}

.box {
  border: 2px solid rgb(43, 0, 0);
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0;

  cursor: pointer;
}

.box:hover {
  background-color: antiquewhite;
}

.reset {
  width: 80px;
  height: 30px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  background-color: antiquewhite;
}

.br-0 {
  border-right: 0;
  border-left: 0;
}

.bb-0 {
  border-bottom: 0;
}
