@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(74, 141, 200);
}
.intro {
  font-family: "Press Start 2P", cursive;
  font-size: 60px;
  align-self: center;
  color: aliceblue;
}
.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}
section {
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
}

.tools {
  width: 150px;
  padding: 15px 12px 0;
}

.board {
  overflow: hidden;
  flex: 1;
  cursor: crosshair;
}

.board canvas {
  width: 900px;
  height: 500px;
}

.buttons button {
  width: 100%;
  color: #378fc5;
  border: 1px solid #378fc5;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #378fc5;
  color: white;
  border: white;
}
